:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: var(--font-o);
  max-height: 100vh;
  overflow: hidden;
}
.grandCntn {
  --blue-clr: #0365c8;

  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-inline: 3%;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.grandCntn > img{
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  inset: 0;
  z-index: -1;
  object-fit: cover;
  object-position: center 39%;
  filter: blur(7px) contrast(0.8);
}



.formCntn {
  max-width: 468px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  padding: 2.3em 20px;
  gap: 15px;
}
.formTitle {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 10px;
}
.formTitle h1 {
  width: 100%;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2em;
  text-decoration-thickness: 3px;
  font-weight: 700;
}

.formTitle h1 span{
  font-size: 1.1em;
  color: var(--blue-clr);
  font-style: italic;
  font-weight: 400;
  font-family: var(--font-a);
}

.docPreview{
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: black;
  background-color: #48586148;
  border-radius: 6px;
  font-size: 0.9em;
}

.docName {
  color: #626262;
  font-weight: 500;
}

.docName b{
  color: black;
}

.title_note{
  font-size: 1.1em;
  text-align: center;
  font-weight: 500;
  color: black;
  /* padding-block: 1.3em 0.5em; */
}

@media screen and (max-width: 450px) {
  body {
    background-color: #cacbcd;
    background-image: none;
    background-size: 100%;
  }

  .docPreview{
    font-size: 0.8em;
  }

  .grandCntn > img{
    object-position: center center;
  }
}

.formTitle img {
  width: 50%;
  background-size: contain;
  background-position: center;
  background-color: #092c74;
}

.form {
  min-height: 60px;
  width: 100%;
  background-color: #fafafa;
  padding-block: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstSection {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* align-items: center; */
}

.firstSection > svg {
  width: 120px;
  height: 120px;
  margin: auto;
}
.firstSection > svg path {
  fill: rgb(7, 138, 7);
}

.firstSection h3 {
  font-size: 15px;
  color: black;
  margin-block: 12px;
  font-weight: 600;
}
.firstSection h2 {
  font-size: 16px;
  color: black;
  margin-block: 17px;
  font-weight: 600;
  text-align: center;
}

.login {
  display: flex;
}
.otp {
  display: none;
}
.card {
  display: none;
}
.success {
  display: none;
}
.grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.inputCntn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputCntn label {
  font-size: 15px;
  color: black;
  font-weight: 600;
}
.inputCntn input {
  appearance: none;
  height: 45px;
  width: 100%;
  padding: 0 13px;
  background-color: #fff;
  border: 1px solid #a9a9a999;
  color: #2e2e2e;
  border-radius: 7px;
  font-size: 1.15em;
  outline: 3px solid transparent;

  transition: outline-color 0.3s ease;
}
/* For Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.inputCntn input:focus {
  outline-color: #8ab9fc;
}

.submissionCntn {
  width: 100%;
}

.rememberMe {
  width: 100%;
}

.rememberMe:focus-within rect {
  stroke-width: 2;
  stroke: #092c74;
}
.rememberMe:focus-within svg {
  outline-color: #8ab9fc;
}

.rememberMe label {
  display: flex;
  align-items: center;
  margin-top: -12px;
  gap: 10px;
}
.rememberMe label span {
  font-size: 14px;
  color: #2e2e2e;
  font-weight: 400;
}

.rememberMe input {
  appearance: none;
}
.rememberMe:has(input[type="checkbox"]:checked) polyline {
  stroke: #092c74;
}

.rememberMe svg {
  outline: 3px solid transparent;

  transition: outline-color 0.3s ease;
}

.rememberMe svg rect {
  stroke-width: 1;
  stroke: #8f9299;
}
.rememberMe svg polyline {
  stroke-width: 2;
  stroke: transparent;
}

.firstSection:has(input:invalid) button[type="submit"] {
  cursor: pointer;
  pointer-events: none;
  opacity: 0.45;
}

.LoginBtn {
  width: 100%;
  height: 45px;
  background-color: var(--blue-clr);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
  font-family: "Open Sans", sans-serif;

  cursor: pointer;
  pointer-events: all;
  opacity: 1;

  transition: all 0.15s ease;
}

.userLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userLinks a {
  font-size: 12px;
  font-weight: 400;
}

.userLinks p {
  font-size: 12px;
  font-weight: 400;
  color: #2e2e2e;
}
.userLinks p a {
  font-size: 1.1em;
  font-weight: 500;
}

.formFooter {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  color: black;
  margin-top: -17px;
}

.formFooter p{
  text-align: center;
  font-size: 0.81em;
}

.formFooter a {
  font-weight: 500;
  color: var(--blue-clr);
  text-decoration: underline;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
